* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
}

body {
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.half-height {
  height: 50vh;
}

.full-height {
  height: 100vh;
}

/*
Overrides
*/
.uk-navbar-container:not(.uk-navbar-transparent) {
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
}

.uk-navbar-nav > li > a {
  text-transform: none;
  color: #424242;
  font-size: 18px;
}

[class*='uk-navbar-dropdown-bottom'] {
  margin-top: 0px;
}

.uk-nav > li > a {
  padding: 0 0;
}

.uk-logo {
  font-size: 32px;
  font-family: 'Pacifico';
  color: #424242;
  text-decoration: none;
}

.tm-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 0px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.tm-sidebar-right {
  width: 100%;
}

@media (min-width: 1200px) {
  .tm-sidebar-right {
    left: calc(100% + 0px);
  }

  .tm-sidebar-left + .tm-main {
    padding-left: 300px;
  }

  .tm-sidebar-left {
    width: 320px !important;
    padding: 0px 50px 60px 45px;
  }
}

@media (min-width: 1600px) {
  .tm-sidebar-left + .tm-main {
    padding-left: 30px;
  }
}

.uk-search-medium {
  width: 100%;
}

.uk-search-default .uk-search-input {
  height: 50px;
}

.position-right {
  right: 36px;
}

.uk-position-bottom-right {
  bottom: 50px;
  right: 50px;
}

.a-list {
  position: fixed;
  left: 300px;
  bottom: 0;
  top: 255px;
}

.a-list > a {
  display: block;
  color: #333;
  padding: 3px 0;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.fixed-serch {
  position: fixed;
  background-color: white;
  min-height: 150px;
  z-index: 100;
  width: 235px !important;
  padding: 30px 0;
}

.tm-nav {
  position: absolute;
  top: 180px;
  width: 73%;
}

.pull-right {
  float: right;
}

.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
  outline: 0;
  background-color: #fff;
  color: #666;
  border-color: #424242;
}
.spinner-position{
  position: absolute;
  top: 40%;
  left: 47%;
  z-index: 99;
}
.custom-overlay{
  background: rgba(255, 255, 255, 0.61);
  z-index: 99;
}
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}
.showbox {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  z-index: 1;
}